/* nav */
.site-nav {
    background-color: #FFFFFF;
}
.site-nav a {
    color: rgba(46, 47, 66, 1);
}

.site-nav a:hover {
    color: rgba(64, 75, 191, 1);
}

.site-nav a:active {
    color: #404BBF;
}

.meil {
    color: #2E2F42;
}

.phone {
    color: #434455;;
}

.list {
    list-style: none; 
}

/* уникальный контент */
body {
    font-family: "Roboto" ? "Raleway";
}

.hero {
    background-color:#2E2F42;
}

h3 {
    color: #434455;
}

p {
    color: rgba(67, 68, 85, 1);
}

.section2 {
    background-color: rgba(244, 244, 253, 1);
    ;
}

footer {
    background-color: rgba(46, 47, 66, 1);
}

.page-nav {
    background-color: rgba(255, 255, 255, 1);
}

.section2-li {
    background-color: rgba(255, 255, 255, 1);
}

.text {
    font-size: 16px;
}

.page-nav a {
    color: rgba(33, 33, 33, 1);
}

.page-nav a:hover, 
.page-nav a:focus {
    color: rgba(33, 150, 243, 1);
}

.page-nav a:active {
    color: rgba(64, 75, 191, 1);
}

.button {
    color: rgba(77, 90, 229, 1);
}

.button:hover {
    color: rgba(64, 75, 191, 1)
}

.section1-title {
    color: #2E2F42;
}

.section2-title {
    color: #2E2F42;
}

/* footer */
.contacts {
    background-color: #2E2F42;
}